html{
    height:100%;
    font-family: Helvetica;
}

body{
	background-color: #2c3338;
	font-size: 14px;
	margin-top:50px;
}

#nav{
	z-index:100;
	position:fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
	background-color: #2e57a0;
	border-bottom: 1px outset #2e57a0;
}

#notifications{
    margin-top:4px;
    margin-right:15px;
}

#notifications td{
    font-size:10px;
    color:orange;
}

#notifications_list{
    width:100px;
    margin-top:4px;
}

#notifications_list li{
    color:black;
    font-size:12px;
    clear:left;
    float: none;
    position:relative;
    right:50px;
    padding-left:10px;
    border: 1px solid #2e57a0;
    border-top: none;
    background-color:rgb(240,240,255);
    width: 300px;
    max-height: 50px;
}

#notifications_list li i{
    color: rgb(100,100,100);
}

.notifications_button{
    color: rgb(150,150,150);
    text-decoration:underline;
    cursor:pointer;
}

#nav > ul{
    position:relative;
    margin-left:-535px;
    left:50%;
    margin-top:0px;
}

#nav ul li{
    float:left;
    list-style-type: none;
}

#nav img{
    margin-top: 5px;
}

#search_bar{
    font-size: 12px;
    margin-top: 8px;
    margin-left:5px;
    width: 450px;
}

#search_bar input{
    border-radius:0px;
    border-color:#2e57a0;
}

#search_bar li{
    color:rgb(150,150,150);
    font-size:12px;
    clear:left;
    float: none;
    position:relative;
    right:40px;
    border: 1px solid #2e57a0;
    border-top: none;
    background-color:rgb(240,240,255);
    width: 410px;
    height: 53px;
}
#search_bar li table{
    border-collapse:collapse;
}

.search_bar_result{
    padding-bottom:2px;
}

.image_search_bar{
    padding:0px;
}
#search_bar li table td img{
    margin:1px;    
    border: 1px solid rgb(200,200,200);
}

#nav_button{
    border-collapse:collapse;
    margin-top:14px;
}

#nav_button td a{
    color: rgb(230,230,230);  
    text-decoration:none;
    text-transform:capitalize;  
    font-size:12px;
}

#nav_button td{
    height:24px;
    border-left: 1px solid #4b69a0;
    border-right: 1px solid #4b69a0;
    padding-left:17px;
    padding-right:17px;
}

#nav_button td:hover{
    background-color:#4b69a0;
}

#chat_nav{
	z-index:100;
	position:fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
	background-color: #2e57a0;
	border-top: 1px inset #2e57a0;
}

#chat_bar{
    position: absolute;
    right:0px;
}

#chat_bar li{
    color: rgb(230,230,230); 
    float:right;
    list-style-type:none;
}

#connected_friends{
    background-color: #396bc6;
    border: 2px solid #437ee8;
    padding: 10px;
    width: 200px;
    text-align:center;
    cursor:pointer;
    position:relative;
    top:-25px;
    left:-50px;
}

#connected_friends_block{
    display:none;
    background-color:rgb(230,230,230);
    border: 1px solid rgb(150,150,150);
    height: 280px;
    position:relative;
    top:-300px;
    left:-50px;
}

#connected_friends_block > div{
    background-color: #396bc6;
    color:#c84600;
    margin: 0px;
    padding: 10px;
    font-size: 16px;
}

#connected_friends_content{
    margin-left:-100px;
    position:relative;
    left:-0px;
}

#connected_friends_content li { 
    clear:right;
    margin-top:2px;
}

#connected_friends_content table{
    background-color: rgb(240,240,240);
    width: 220px;
    border-collapse: collapse;
    cursor: pointer;
}

#connected_friends_content table img{
    margin-top:2px;
    margin-left:2px;
}

#connected_friends_content table span{
    display:block;
    width:160px;
}

.friend_chat{
    background-color: #396bc6;
    border: 2px solid #437ee8;
    padding: 10px;
    width: 200px;
    text-align:center;
    cursor:pointer;    
    position:relative;
    top:-25px;
    left:-50px;
}

.friend_chat_block{
    display:none;
    background-color:rgb(230,230,230);
    border: 1px solid rgb(150,150,150);
    height: 280px;
    position:relative;
    top:-300px;
    left:-50px;
}

.friend_chat_title{
    background-color: #396bc6;
    color:#c84600;
    margin: 0px;
    padding: 10px;
    font-size: 16px;
}

.friend_chat_content{
    height:200px;
    color: black;
    overflow-y:scroll;
    border-bottom:1px solid black;
}

#page{
	background-color: white;
	border: 2px solid grey;
	width: 900px;
	margin:auto;
	margin-top: 40px;
	margin-bottom: 55px;
}

#wrapper{
	margin:auto;
	width: 100%;
}

#info_perso{
	width:250px;
	height: 300px;
}

#mur{
    padding-top:17px;
	width: 600px;
	border-left: solid 1px rgb(200,200,200);
}

#mes_publications{
    min-height: 1080px;
}

#post_box{
	display:inline-block;
	padding: 2px;
	margin-left: 20px;
	margin-top: 17px;
	margin-bottom: 10px;
	border-radius: 2px;
}

#post_border{
	width: 600px;
	height: 130px;
	border: solid 1px rgb(200,200,200);
	border-radius: 2px;
	border-collapse: collapse;
}

#submit_post{
	background-color: rgb(240,240,255);
	height: 28px;
}
#tabs, #tabs div{
	margin-bottom: 10px;
	margin-rigth: 10xp;
	padding: 0px;
	border: none;
}

textarea{
	resize:none;
	border: none;
	overflow:hidden;
}

#img_input_title{
	color: rgb(100,100,100);
}

.post{
	border-top: 1px solid rgb(200,200,200);
	max-width: 650px;
}

.post td > img{
	border: 1px solid rgb(200,200,200);
}

.post_time{
	color: rgb(150,150,150);
	font-size: 12px;
}

.post > table{
	margin-top:5px;
	border-spacing: 5px;
}

.post > img{
	height: 45px;
	width: 45px;
}

.post button{
    font-size: 10px;
}

.post .comments button{
    font-size: 9px;
}

.post_user_picture{
	vertical-align:top;
}

.picture_description{
	border-radius: 2px;
	border: 1px solid rgb(100,100,100);
}

.picture_title{
	text-align: center;
	text-decoration:underline;
	font-size: 12px;
	color: rgb(100,100,100);
}

.post_picture{
	max-width: 600px;
	max-height: 300px;
}

.user_name{
	color: #2e57a0;
	text-transform:capitalize;
}

.comments_button{
	color: rgb(150,150,200)
}

.comments_button:hover{
	cursor: pointer;
	text-decoration:underline;
}

.comments td{
        font-size: 11px;
	color: rgb(75,75,75);
	max-width: 325px;
	background-color:rgb(240,240,255);
}

.comments .post_time{
    font-size: 11px;
}

#add_friend_popup{
    z-index:101;
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color: black;
    opacity:0.5;
}

#add_friend_window{
    z-index:102;
    position:fixed;
    top:50%;
    left:50%;
    margin-left:-200px;
    margin-top:-150px;
    width:400px;
    background-color:white;
    border:1px solid #1a4aa0;
}

#friend_popup_top{
    color:white;
    z-index:103;
    width:100%;
    height: 30px;    
    padding-top:10px;
    background-color: #2e57a0;
    border-bottom: 1px outset #2e57a0;
}

#friend_popup_top span{
    margin-left:10px;
    font-size: 15px;
}

.close_button{
    position: absolute;
    right: 10px;
    cursor:pointer;
}

#friend_popup_content{
    padding: 20px;
}

#friend_popup_content img{
    border: 1px solid rgb(200,200,200);
}

#friend_popup_bottom{
    width:100%;
    height: 30px;
    padding-top:3px;
    background-color: rgb(200,200,200);
    border-top: 1px outset #2e57a0;
}

#friend_popup_bottom span{
    margin-left:225px;
}

#add_friend_description{
    border: 1px solid rgb(200,200,200);
}

#amis{
	width: 250px;
	height: 300px;
}								

#friend_table{
    height:400px;
    border:2px solid rgb(180,180,180);
    border-collapse:collapse;
    margin-left:10px;
    margin-top:20px;
    background-color:rgb(230,230,255);
}

#friend_table img{
    border: 1px solid rgb(200,200,200);
    margin-top: 4px;
    margin-left:4px;
}

#friend_table_title{
    color:#c84600;
    text-align:center;
    width:230px;
    height:40px;
    font-size:20px;
    background-color: #2e57a0;
    text-transform:capitalize;
}

#friend_number{
    color: rgb(150,150,255);
    font-size:12px;
    height:20px;
    padding-left:20px;
    padding-top:10px;
}

#friends{
    min-height:300px;
    margin: 0px 9px 5px 9px;
    border:1px solid rgb(200,200,255);
    background-color:white;
}

#profile_description{
    min-height:100px;
    margin: 0px 10px 5px 10px;
    padding-left: 5px;
    border:1px solid rgb(200,200,255);
    background-color:white;
    font-size:13px;
}

/* ---------- PROFIL ---------- */

#page form input[type="submit"] {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #C94700;
	color: #eee;
	font-weight: bold;
	margin-bottom: 2em;
	text-transform: uppercase;
	width: 240px;
	
}

#page form input[type="submit"]:hover {
	background-color: #F5991A;
}

#valide input[type="submit"] {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #C94700;
	color: #eee;
	font-weight: bold;
	margin-bottom: 2em;
	text-transform: uppercase;
	width: 240px;
}

#ttitle {
	color : #C94700;
}

#tabs, #tabs div{
	margin-bottom: 10px;
	padding: 0px;
	border: none;
}

.tab1, .tab2, .tab3, .tab4, .tab5{
	color: white;
	width: 100%;
}

.tab1, .tab2, .tab3, .tab4, .tab5 td{
	background-color: #2c3338;
	padding: 3px;
}

